*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

html, body {
    height: 10447px;
    width: 1440px;
    margin: auto;
}

main{
    width: 100%;
    height: 91.7392%; /* 9584px  599rem*/
}

header {
    background-color: #ffffff;
    height: 152px;
    /* border-bottom: 1px solid #e0e0e0; */
    padding-top: 21px;
}

.container {
    max-width: 1380px;
    height: 72px; 
    display: flex;
    align-items: center; /*Вертикальное выравнивание элементов */
    padding-left: 30px;
    padding-top: 40px;
}

.logo {
    display: flex;
    align-items: center; 
    height: 56px;
    margin-right: 180px;
}

.container .contacts{
    width: 664px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 179px;
    
}

.contacts nav, .contacts a{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 42px;
    flex-shrink: 0; 
    text-decoration: none;
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.36px;
}

.contacts-home-button{
    color: #7EB693 !important;
    font-size: larger;

}

.contacts .contacts-use-bigger-size{
    font-size: 20px;
}

.first-block{
   position: relative; /* Позволяет позиционировать дочерние элементы относительно этого контейнера */
   height: 913px;
}

.first-block .text-overlay{
    position: absolute;
    left: 30px;
    top: 221px;
}


.first-block .text-overlay i {
    width: 241px;
    color: #7EB693;
    font-family: 'Yellowtail';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 64.8px; /* 180% */
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.first-block .text-overlay h1{
    width: 496px;
    height: 252px;
    color: #274C5B;
    text-align: left; 
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    line-height: 84px;
    margin-top: 15px;
    margin-bottom: 30px;
    letter-spacing: 0.36px;
}

.first-block .yellow-button{ 
    background-image: url('./assets/explore_now_button_image.png');
    width: 219px;
    height: 82px;
    text-indent: -41px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход фона */
}

/* .first-block .yellow-button:hover {
    background-color: gold; /* Цвет фона при наведении 
}*/

.second-block{
    width: 1440px;
    height: 658px;
    display: flex;
    justify-content: center;
}

.second-block .second-block-first-picture{
    position: relative;
    width: 665px;
    height: 378px;
    flex-shrink: 0;
    margin-right: 50px;
    margin-top: 140px;
}

.second-block-first-picture .second-block-text-overlay{
    position: absolute;
    left: 55px;
    top: 105px;
}

.second-block-first-picture .second-block-text-overlay i{
    color: #FFF;
    font-family: 'Yellowtail';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 64.8px;
    letter-spacing: 0.36px;
}

.second-block-first-picture .second-block-text-overlay h1{
    margin-top: 0px;
    width: 219px;
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 130% */
    letter-spacing: 0.36px;
}


.second-block .second-block-second-picture{
    position: relative;
    width: 665px;
    height: 378px;
    flex-shrink: 0;
    margin-top: 140px;
}

.second-block-second-picture .second-block-text-overlay{
    position: absolute;
    left: 55px;
    top: 105px;
}

.second-block-second-picture .second-block-text-overlay i{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 64.8px;
    letter-spacing: 0.36px;
}

.second-block-second-picture .second-block-text-overlay h1{
    margin-top: 0px;
    width: 264px;
    color: #274C5B;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.36px;
}

.third-block
{
    width: 1440px;
    height: 1006px;
    background-color: #F9F8F8;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки */
    gap: 30px;
}

.third_block_image{
    width: 675px;
    height: 642px;
    margin-left: 30px;
    margin-top: 177px;
}

.third-block-text-sections .first-subsection{
    display: grid;
    margin-top: 130px;
}

.third-block-text-sections .first-subsection i, .our-products-label i, .fifth-block i, .sixth-block i, .seventh-block i{
    width: 122px;
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.05rem; /* 180% */
    letter-spacing: 0.0225rem;
    text-transform: capitalize;
}

.base-middle-lable
{
    width: 521px;
    color: #274C5B;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.third-block-text-sections .first-subsection h1{
    margin-top: -1px;
    margin-bottom: 23px;
}

.third-block-text-sections .first-subsection h2{
    width: 670px;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px; /* 180% */
    letter-spacing: 0.36px;
    margin-bottom: 0px;
}

.second-subsection{
    display: grid;
    gap: 30px;
}

.organic-foods, .quality-standards{
    height: 104px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 56px;
}

.quality-standards{
    margin-top: 0px;
}

.white_rect{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: 20px;
    z-index: 1;
}

.vector_plate{
    position: absolute;
    width: 46px;
    height: 46px;
    z-index: 2;
    left: 31px;
    top: 27px;
}

.organic-food-text{
    padding-top: 8px;
    height: 100%;
}

.organic-food-text h3, .quality-standards-text h3{ 
    width: 225px;
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 140% */
    letter-spacing: 0.36px;
    margin-top: -8px;
    margin-bottom: 0% ;
}

.organic-food-text p, .quality-standards-text p{ 
    width: 552px;
    color: #525C60;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px; /* 180% */
    letter-spacing: 0.36px;
    padding-top: 10px;
}

.vector_box{
    position: absolute;
    width: 52px;
    height: 52px;
    z-index: 2;
    left: 26px;
    top: 24px;
} 

.quality-standards-text{
    margin-top: 14px;
}

.shop-now-button, .view-all-products-button{
    width: 12.4375rem;
    height: 5.125rem;
    color: #FFF;
    background-color: #274C5B;
    background-image: url('./assets/arrow_to_shop_button.png');
    background-repeat: no-repeat;
    background-size: 3.125rem 3.125rem;
    background-position: 97% 40%;
    text-indent: -2.5625rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0225rem;
    text-transform: capitalize;
    border-radius: 0.9375rem;
    border: none;
    padding: 0.625rem 1.25rem;
    margin-top: 1.3125rem;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход фона */
}

.shop-now-button:hover {
    background-color: gray; /* Цвет фона при наведении */
}

.fourth-block{
    width: 100%;
    height: 14.4103%;
    margin-bottom: 7.49rem;
}

.our-products-label{
    width: 95.8333%;
    height: 8.8337%;
    text-align: center;
    margin-top: 7.5rem;
}

.list-of-products{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    row-gap: 0;
    width: 100%;
    height: 88.2714%;
    margin-top: 2.5rem;
    margin-left: 1.875rem;
}

.base-rectangle{
    position: relative;
    width: 31.0417%;
    height: 48.3967%;
    border-radius: 1.875rem;
    background: #F9F8F8;
}

.rectangle-line{
    position: absolute;
    bottom: 13.2966%;
    left: 1.875rem;
    width: 86.5011%;
    height: 0.1695%;
    background-color: #D4D4D4;
}

.base-rectangle .product-image{
    position: absolute;
    width: 86.577%;
    height: 64.0678%;
    top: 4.1875rem;
    left: 1.875rem;
}

.base-rectangle .product_category{
    position: absolute;
    top: 1.95rem;
    left: 1.88rem;
    text-align: center;
    padding-top: 0.31rem;
    width: 26.3982%;
    height: 6.2711%;
    border-radius: 0.5rem;
    background: #274C5B;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6875rem;
    letter-spacing: 0.0225rem;
}

.base-rectangle .product_name{
    position: absolute;
    width: 43.4%;
    height: 6.101%;
    top: 29.1rem;
    left: 1.88rem;
    right: 14.19rem;
    bottom: 5.63rem;
    color: #274C5B;
    font-family: Roboto;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.0225rem;
}

.base-rectangle .price-line-through{
    position: absolute;
    width: 6.5625rem;
    height: 2.0625rem;
    top: 32.75rem;
    left: 1.88rem;
    text-decoration: line-through;
    color: #B8B8B8;
    font-family: "Open Sans";
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.025rem; 
    letter-spacing: 0.0225rem;
}

.base-rectangle .current-price{
    position: absolute;
    width: 6.6875rem;
    height: 2.0625rem;
    top: 32.6875rem;
    left: 9.06rem;
    color: #274C5B;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.025rem;
    letter-spacing: 0.0225rem;
}

.base-rectangle .five-star-image{
    position: absolute;
    width: 5.3125rem;
    height: 1.1875rem;
    flex-shrink: 0;
    top: 33.06rem;
    left: 20.75rem;
}

.Dried-Pistachio .product_category, .brown-hazelnut .product_category{
    width: 5.75rem;
    height: 2.3125rem;
    flex-shrink: 0;
    text-align: left;
    padding-left: 1.25rem;
}

.Vegan-Red-Tomato .product_name{
    font-size: 1.3125rem;
}


.organic-almonds .product_category{
    width: 5.25rem;
    height: 2.3125rem;
    flex-shrink: 0;
    text-align: left;
    padding-left: 1.25rem;
}

.fifth-block{
    position: relative;
    width: 100%;
    height: 13.0217%;
}

.fifth-block-bg-image{
    width: 100%;
    height: 100%; /* 1248px */
}

.fifth-block-first-section-overlay{
    position: absolute;
    text-align: center;
    top: 8.12rem;
    left: 30%;
}

.fifth-block-first-section-overlay h3{
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.65625rem;
    letter-spacing: 0.0225rem;
    text-transform: capitalize;
}

.fifth-block-second-section-overlay{
    position: absolute;
    width: 76.3889%;
    height: 27.1385%;
    top: 19.5rem;
    left: 11.8%;
}

.fifth-block-second-section-overlay .fifth-block-woman-image{
    position: absolute;
    left: 30.81rem;
}

.fifth-block-five-star-image{
    position: absolute;
    width: 7.6875rem;
    height: 1.6875rem;
    margin-top: 8.31rem;
    left: 30.56rem;
}

.fifth-block-second-section-overlay .fifth-block-quote{
    position: absolute;
    top: 12rem;
    left: 4.94rem;
    width: 58.875rem;
    color: #525C60;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.025rem;
    letter-spacing: 0.0225rem;
}

.fifth-block-second-section-overlay h3{
    position: absolute;
    top: 17.37rem;
    left: 30.19rem;
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    letter-spacing: 0.0225rem;
}

.fifth-block-consumer{
    position: absolute;
    top: 19.55rem;
    left: 32.12rem;
    width: 4.5625rem;
    color: #525C60;
    text-align: center;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    letter-spacing: 0.0225rem;
}

.fifth-block-line{
    position: absolute;
    top: 46.63rem;
    left: 14.81rem;
    width: 67.0833%;
    height: 0.1603%;
    background-color: #E0E0E0;
}

.fifth-block-round-group{
    position: absolute;
    top: 53rem;
    display: flex;
    gap: 1.62rem;
    left: 10.5rem;
}

.fifth-block .outer-round{
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 12.5rem;
    border: 6px solid #7EB693;
    background: #F1F1F1;
}

.fifth-block .outer-round:first-child{
    margin-left: 0.81rem;
}

.outer-round .base-round{
    width: 15rem;
    height: 15rem;
    border-radius: 12.5rem;
    border: 5px solid #FFF;
}

.outer-round .base-round h3{
    margin-top: 4.5rem;
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.4125rem; /* 130% */
    letter-spacing: 0.0225rem; 
}

.outer-round .base-round p{
    color: #274C5B;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.025rem; /* 180% */
    letter-spacing: 0.0225rem;
}

.sixth-block{
    position: relative;
    width: 100%;
    height: 11.0601%;
    background-color: #274C5B;
}

.sixth-section-label{
    position: absolute;
    width: 95.82%;
    height: 16.0604%;
    top: 8.77rem;
    left: 1.88rem;
}

.sixth-block h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.65625rem;
    letter-spacing: 0.0225rem;
    text-transform: capitalize;
}

.sixth-block .view-all-products-button{
    position: absolute;
    width: 16.6875rem;
    height: 5.125rem;
    top: 2.76rem;
    left: 68.94rem;
    margin-top: 0;
    color: #335B6B;
    background-color: #EFD372;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.0225rem;
    padding-left: 1.44rem;
    padding-top: 0.7rem;
    background-size: 3.4rem 2.9rem;
    background-position: 97% 46%;
}

.sixth-block-products-list{
    position: absolute;
    display: flex;
    gap: 1.25rem;
    width: 95.9027%;
    height: 55.6604%;
    top: 19.37rem;
    margin-left: 1.875rem;
}

.sixth-block-products-list .base-rectangle{
    height: 100%;
    width: 42.7230%;
}

.seventh-block{
    position: relative;
    width: 100%;
    height: 7.3456%;
    color: #274C5B;
    font-family: Roboto;
    font-style: normal;
    letter-spacing: 0.0225rem;
    text-transform: capitalize;
}

.seventh-block-white-rectangle{
    position: absolute;
    right: 3.75rem;
    top: 2.54rem;
    width: 45rem;
    height: 38.9375rem;
    border-radius: 1.875rem 0rem 0rem 1.875rem;
    background-color: #FFF;
    padding-left: 3.75rem;
    padding-top: 2.44rem;
}

.seventh-block h2{
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.65625rem; /* 132.955% */
    margin-bottom: 1.85rem;
}

.seventh-block h3{
    font-size: 1.4375rem;
    font-weight: 700;
    line-height: 2.0125rem;
    margin-bottom: 0.25rem;
}

.seventh-block p{
    color: #525C60;
    font-family: "Open Sans";
    width: 37.875rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.025rem; /* 180% */
    margin-bottom: 0.65rem;
    text-transform: none;
}